{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register Form</title>
        <link href="{% static 'css/auth.css' %}" rel="stylesheet" />
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <main class="sign-up-mode">
        <div class="box">
            <div class="inner-box">
            <div class="forms-wrap">  
                <form method="POST" action="" autocomplete="off" class="sign-up-form">
                    {% csrf_token %}
                    <div class="logo">
                        <img src="{% static 'assets/img/logo.png' %}" alt="Investops" />
                        <h4>Investops</h4>
                    </div>
        
                    <div class="heading">
                        <h2>Get Started</h2>
                        <h6>Already have an account?</h6>
                        <a href="{% url 'authenticate:login' %}" class="toggle">Sign in</a>
                    </div>
        
                    <div class="actual-form">
                        <div class="input-wrap">
                        <input
                            id="id_username"
                            class="input-field"
                            type="text"
                            name="username" 
                            autocapitalize="none" 
                            autocomplete="username"
                            autofocus="" 
                            required=""
                            maxlength="150" 
                        />
                        <label>Name</label>
                        </div>
        
                        <div class="input-wrap">
                        <input
                            id="id_password1"
                            class="input-field"
                            type="password"
                            name="password1"
                            autocomplete="new-password"
                            required=""
                        />
                        <label>Password</label>
                        </div>

                        <div class="input-wrap">
                        <input
                            id="id_password2"
                            class="input-field"
                            type="password"
                            name="password2"
                            autocomplete="new-password"
                            required=""
                        />
                        <label>Password Confirmation</label>
                        </div>
                        <input type="submit" name="Sign Up" value="Sign Up" class="sign-btn" />
                        {% for error in form.errors.password2 %}
                            <li>{{error}}</li>
                        {% endfor %}
        
                        <p class="text">
                        By signing up, I agree to the
                        <a href="#">Terms of Services</a> and
                        <a href="#">Privacy Policy</a>
                        </p>
                    </div>
                </form>
            </div>
    
            <div class="carousel">
                <div class="images-wrapper">
                <img src="{% static 'assets/img/image1.png' %}" class="image img-1 show" alt="" />
                <img src="{% static 'assets/img/image2.png' %}" class="image img-2" alt="" />
                <img src="{% static 'assets/img/image3.png' %}" class="image img-3" alt="" />
                </div>
    
                <div class="text-slider">
                <div class="text-wrap">
                    <div class="text-group">
                        <h2>Invest in Stocks and Crypto</h2>
                        <h2>Build Your Investing Knowledge</h2>
                        <h2>Interact With Admins and Others</h2>
                    </div>
                </div>
    
                <div class="bullets">
                    <span class="active" data-value="1"></span>
                    <span data-value="2"></span>
                    <span data-value="3"></span>
                </div>
                </div>
            </div>
            </div>
        </div>
        </main>

        <!-- Script Untuk Fungsi-fungsi Javascript -->
        <script src="{% static 'js/auth.js' %}"></script>
    </body>

    {% if messages %}  
        <ul class = "messages">   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

{% endblock content %}
</html>