{% extends "base.html" %}

(% load static %}

{% block meta %}
<style>
    body{
        padding-top: 120px;
        padding-right: 7%;
        padding-left: 7%;
        padding-bottom: 5%;
    } 
</style>
{% endblock %} 

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/jquery.countdown.css"> 
<script type="text/javascript" src="js/jquery.plugin.js"></script> 
<script type="text/javascript" src="js/jquery.countdown.js"></script>
<script>
    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }
    
    var minutes = 1, seconds = 59;
    jQuery(function(){
        jQuery("span.countdown").html(minutes + ":" + seconds);
        var count = setInterval(function(){ if(parseInt(minutes) < 0) { clearInterval(count); } else {jQuery("span.countdown").html(minutes + ":" + seconds); if(seconds == 0) { minutes--; if(minutes < 10) minutes = "0"+minutes; seconds = 59;} seconds--; if(seconds < 10) minutes = "0"+seconds;} }, 1000);
    })
    
$(document).ready(function () {
    $("#answers").submit(function(event){
        console.log("masuk")
        event.preventDefault()
        //ngurusin button
        var $form = $(this)
        var dataSer = getFormData($form)

        $.ajax({
            url:"{% url 'trivia:add_answer' %}", 
            type: "POST",
            data: dataSer,
            success: function(dict) {
                window.location.pathname = `/quiz/result/${dict['id']}`
                console.log("masuk success")
            }, 
            error: function(result){
                console.log("gagal")
            }
        });
    })
});
</script>
<span class="countdown"></span>
<form method="POST" id = "answers">
    {% csrf_token %}  
    <div id = "questions" class = "grid gap-20">
        {{ form }}
    </div>
    <button type="submit" class="h-12 w-48 bg-green-600 hover:bg-green-400 text-white py-2 px-4 rounded-full">Submit Answers</button>
</form>

    {% for msg in messages %}
        {{ msg }}
    {% endfor %}

{% endblock content %}