{% extends "base.html" %}

(% load static %}

{% block meta %}
<style>
    body{
        padding-top: 120px;
        padding-right: 7%;
        padding-left: 7%;
        padding-bottom: 5%;
    } 
    
</style>
{% endblock %} 

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/jquery.countdown.css"> 
<script type="text/javascript" src="js/jquery.plugin.js"></script> 
<script type="text/javascript" src="js/jquery.countdown.js"></script>
<script type="text/javascript">
    
    window.onload=counter;
    function counter()
    {
    minutes =05
    seconds =01;
    countDown();
    }

    function countDown(){
    document.getElementById("min").innerHTML= minutes;
    document.getElementById("remain").innerHTML= seconds;
    setTimeout("countDown()",1000);
        if(minutes == 0 && seconds == 0){
        }else {
            seconds--;	
            if(seconds ==0 && minutes > 0)
            {
                minutes--;
                seconds=60;
            }
            }
    }

    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }
    
$(document).ready(function () {
    setTimeout(function() {
        var $form = $(this)
        var dataSer = getFormData($form)
        $.ajax({
            url:"{% url 'trivia:add_answer' %}", 
            type: "POST",
            data: dataSer,
            success: function(dict) {
                window.location.pathname = `/quiz/result/${dict['id']}`
            }, 
            error: function(result){
            }
        });
    }, 5001); 
    
    $("#answers").submit(function(event){
        event.preventDefault()
        var $form = $(this)
        var dataSer = getFormData($form)

        $.ajax({
            url:"{% url 'trivia:add_answer' %}", 
            type: "POST",
            data: dataSer,
            success: function(dict) {
                window.location.pathname = `/quiz/result/${dict['id']}`
            }, 
            error: function(result){
            }
        });
    })
});

function submit_ans(){
        var $form = $(this)
        var dataSer = getFormData($form)
        console.log(dataSer)
        $.ajax({
            url:"{% url 'trivia:add_answer' %}", 
            type: "POST",
            data: dataSer,
            success: function(dict) {
                console.log(dataSer)
                console.log("masuk")
                window.location.pathname = `/quiz/result/${dict['id']}`
            }, 
            error: function(result){
            }
        });
}

</script>

<div> 
    <h1 class="text-center"> - QUIZ - </h1>
</div>

<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header font-weight-bold">Time Remaining</div>
    <div class = class-body style="float:left; display:flex; margin-left: 15px; margin-top: 10px;">
        <span class="card-text text-danger" id="min" ></span> <p>&#160Minutes&#160</p>
        <span class="card-text text-danger"  id="remain"></span> <p>&#160Seconds&#160</p>
    </div>
  </div>

<form method="POST" id = "answers">
    {% csrf_token %}  
    <div id = "questions">
        {% for question in form %}
        <div class="card">
            <div class="card-body" style="background-color: #a3ffd5;">
                <b> {{ question.label }}</b>
                </div>
            </div>
            <div class="card" style="margin-top: 10px;">
                <div class="card-body">
                <p>{{ question }}</p>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
    <div class = "text-center">
        <button type="submit" class="btn btn-success me-3 text-center">Submit Answers</button>
    </div>
</form>

    {% for msg in messages %}
        {{ msg }}
    {% endfor %}

{% endblock content %}