{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

{% block meta %}
<title>Crypto Portofolio</title>
{% endblock meta %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/ajax_crypto.js' %}"></script>
<link href="{% static 'css/crypto.css' %}" rel="stylesheet" />

<body>
    <h3 class="pembuka">{{request.user.username}} <span class="hijaupembuka">PORTOFOLIO</span></h3>
    <table class="table table-striped">
        <thead>
            <tr class="">
                <th>Kode Crypto</th>
                <th>Nama Crypto</th>
                <th>Price</th>
                <th>Risk</th>
            </tr>
        </thead>
        <tbody id="crypto-table"></tbody>
    </table>

    <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 modalAwal" id="exampleModalLabel">CHANGE NOTE</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="addTaskForm">
                    {% csrf_token %}
                    <div class="modal-body form-control">
                        <fieldset>
                            <input class="form-control mb-3" type="text" placeholder="Masukan Note" name="note">
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CANCEL</button>
                        <button type="submit" class="btn btn-primary btnClick">CHANGE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sellModal" tabindex="-1" aria-labelledby="Thank you" aria-hidden="true">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center" >
                    <h4 class="jualBerhasil">Penjualan Berhasil!</h4>
                    <h5 class="lihatPorto">Silakan lihat portofolio anda</h5>
                </div>
            </div>
        </div>
    </div>
    <iframe class="dummyframe" name="dummyframe" id="dummyframe"></iframe>
    <button class="btn btn-success me-3" type="button" name="change-note" id="modalButton">
        CHANGE NOTE
    </button>
    <a href="{% url 'crypto:show_market' %}" class="btn btn-outline-success">Watchlist</a></div>

    <br><br>
    <p class="note"><i class="bi bi-pencil-fill"></i> Note:</p>
    <p class="note">Your Notes Will Be Printed Below These Texts</p>
    <p class="note" id="personal-note"></p>

</body>
{% endblock content %}
</html>