{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

{% block meta %}
<style>
    body{
        padding-top: 100px;
        padding-right: 2%;
        padding-left: 2%;
    } 
</style>
<title>Crypto</title>
{% endblock meta %}

{% block content %}
<html lang="en" dir="ltr">
    <body>
        <h1 style="font-family: Kanit;">INVESTOPS WATCHLIST</h1>
        <table class="table">
            <tr class="">
                <th>Kode Crypto</th>
                <th>Price</th>
                <th>Risk</th>
            </tr>
            
            {% for crypto in daftar_crypto %}
            <tr>
                <td>{{crypto.kode_crypto}}</td>
                <td>{{crypto.harga_crypto}}</td>
                <td>{{crypto.risk}}</td>
        
        
                <td>
                    <button class="btn btn-primary sm"><a href="" style="text-decoration: none; color: white;">Buy</a></button>
                    <button><a href="">Delete</a></button>
                </td>
            </tr>
            
            {% endfor %}
            
        </table>
        <button onclick="location.href='/crypto'"  class="btn btn-success">Add</button>
    
    </body>
{% endblock content %}
</html>