{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

{% block meta %}
<style>
    body{
        padding-top: 120px;
        padding-right: 7%;
        padding-left: 7%;
        padding-bottom: 5%;
    } 
</style>
<title>Crypto Market</title>
{% endblock meta %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/ajax_crypto_market.js' %}"></script>

<body>
    <h1 style="font-family: Kanit; display: inline; font-weight: bolder;">INVESTOPS <span style="color: rgb(4, 169, 4); display: inline;">WATCHLIST</span></h1>
    <table class="table table-striped">
        <thead>
            <tr class="">
                <th>Kode Crypto</th>
                <th>Nama Crypto</th>
                <th>Price</th>
                <th>Risk</th>
            </tr>
        </thead>
        <tbody id="market-table"></tbody>
    </table>
        
    <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" style="font-family: Mulish; font-weight: bold;">ADD CRYPTO</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="addTaskForm">
                    {% csrf_token %}
                    <div class="modal-body form-control">
                        <fieldset>
                            <input class="form-control mb-3" type="text" placeholder="Kode Crypto (4 Huruf)" name="kode_crypto">
                            <input class="form-control mb-3" type="text" placeholder="Nama Crypto" name="nama_crypto">
                            <input class="form-control mb-3" type="text" placeholder="Price" name="harga_crypto">
                            <input class="form-control mb-3" type="text" placeholder="Risk (HIGH / LOW)" name="risk">
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CANCEL</button>
                        <button type="submit" class="btn btn-primary btnClick">ADD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="Thank you" aria-hidden="true">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <h4 style="font-family: Mulish; font-weight: bold; color: rgb(4, 169, 4)">Pembelian Berhasil!</h4>
                    <h5 style="font-family: Mulish; font-weight: bold; ">Silakan lihat portofolio anda</h5>
                </div>
            </div>
        </div>
    </div>
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
    
    {% if user.is_superuser %}
    <button class="btn btn-success me-3" type="button" name="create-crypto" id="modalButton">
        ADD CRYPTO
    </button>
    {% else %}
    <button class="btn btn-success me-3" type="button" name="create-crypto" id="modalButton" disabled>
        ADD CRYPTO
    </button>
    {% endif %}
    
    <a href="{% url 'crypto:show_crypto' %}" class="btn btn-outline-success">Portofolio</a>

</body>
{% endblock content %}
</html>